Profile {{ usercharacter.username }}<br><br>

Nickname - {{ usercharacter.nickname }}<br>
Gender - {{ usercharacter.get_gender_display }}<br>
Level - {{ usercharacter.level }}<br>
Specialization - {{ usercharacter.get_specialization_display }}<br><br>
Skills:<br><br>
{% for skill in usercharacter.skills.all %}
<li>{{ skill.title }} - {{ skill.description }}</li>
{% endfor %}<br>

{% if user.is_authenticated and user == usercharacter %}

    <a href="{% url 'charmanager_app:usercharacter-update' %}">Edit</a><br><br>

{% endif %}

<a href="{% url 'charmanager_app:usercharacters-list' %}">Back to list</a>
